# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Environments
.venv

# Dataset
/titanic.csv 
datos/titanic.csv
#La / indica que esta en la raiz del proyecto

# Si quiero ignorar todos los csv
# datos/*.csv

#.gitkeep para que tenga la carpeta datos si esta en gitignore

